# Ignorar archivos de entorno
.env

# Ignorar carpetas de datos de MySQL, pero mantener sakila-data
mysql-data/

# Ignorar archivos de configuración de Docker
docker-compose.override.yml
Dockerfile

# Ignorar archivos temporales y de log
*.log
*.tmp
*.temp

# Ignorar archivos de sistema (por ejemplo, en macOS)
.DS_Store
Thumbs.db

# Ignorar carpetas específicas de IDEs o editores
.idea/
.vscode/
